body {
  background-color: #70d9eb;
  color: #333333;
  font-family: "Lato", sans-serif;
}

.jumbotron {
  margin-top: 15px;
  margin-bottom: 15px;
  background: url("../images/timesheet.png") no-repeat;
  background-size: contain;
  background-color: #ad88f8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: "Signika", sans-serif;
}

#jumbotronText {
  margin-left: 250px;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
  text-align: center;
  padding-top: 10px;
}

.table-hover #table tr:hover {
  background-color: #c6f7ff;
}

.card:hover {
  box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.form-control {
  background-color: #f3f8fc;
}

#addEmployee {
  margin: 15px auto;
}

#add-employee-btn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #ad88f8;
  border: 1px #ad88f8 solid;
}

#add-employee-btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 6px 11px 3px #c7c7c7;
  background-color: #a8de4d;
  border: 1px #a8de4d solid;
}

#add-employee-btn:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: none;
}
